{% extends "core/base.html" %} {% block title%}Details{% endblock %} {% load
crispy_forms_tags %} {% block content %}
<!-- for loop -->

<h3>{{job.job_title}}</h3>
<h3>{{job.job_category}}</h3>
<h3>{{job.job_location}}</h3>
<h3>{{job.contract_type}}</h3>

<h3>{{job.position}}</h3>
<h3>last updated on: {{job.updated_at}}</h3>
<a href="{% url 'employer_profile_detail' job.employer.id%}"
  ><h3>{{job.employer.full_name}}</h3></a
>
{% if job.employer.email == request.user.email %}
<a class="btn btn-danger" href="{% url 'job_creation_edit' job.id %}"
  >Post job</a
>
{% endif %}

<!-- endfor -->

<h1 class="h4">help i need this from core</h1>
<!-- endfor -->

<!-- endblock -->
{% endblock %}
