{% extends "core/base.html" %} {% block title%}Categories Details{% endblock %}
{% load crispy_forms_tags %}

<!-- block content -->
{% block content %} {{employer.full_name}} {{employer.job.job_title}}
<!-- for loop -->
{% for i in all %}

<h3>{{i.job_title}}</h3>
<a
  class="btn btn-danger"
  href="{% url 'job_detail' i.job_category.slug i.slug %}"
  >view Details</a
>
{% if i.employer.email == request.user.email %}
<a class="btn btn-danger" href="{% url 'job_creation_edit' i.id %}">Edit job</a>
{% endif %} {%endfor %}

<!-- endblock -->
{% endblock %}
